<h2>Actor Importer</h2>
<p><i>Imports stats block from clipboard</i></p>
<form>
    <h4>Actor Type:</h4>
    <input type="radio" id="npc" name="actorType" value="npc">
    <label for="NPC">NPC</lable><br>
    <input type="radio" id="character" name="actorType" value="character">
    <label for="character">Character</lable>
    <br>
    <h4>Wildcard?</h4>
    <input type="radio" id="yes" name="isWildcar" value="true">
    <label for="yes">Yes</lable><br>
    <input type="radio" id="no" name="isWildcar" value="false">
    <label for="no">No</lable><br>
</form>