<form autocomplete="off">
  <div class="column">
    <label>{{localize 'TOKEN.Disposition'}}:</label>
    <select id="disposition" name="disposition">
      <option name="HOSTILE" value="-1" {{this.dispositionHostile.selected}}>
        {{localize 'TOKEN.HOSTILE'}}
      </option>
      <option name="NEUTRAL" value="0" {{this.dispositionNeutral.selected}}>
        {{localize 'TOKEN.NEUTRAL'}}
      </option>
      <option name="FRIENDLY" value="1" {{this.dispositionFriendly.selected}}>
        {{localize 'TOKEN.FRIENDLY'}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize 'TOKEN.CharShowNameplate'}}:</label>
    <select id="displayName" name="displayName">
      <option
        name="DISPLAY_NONE"
        value="0"
        {{this.displayNameDISPLAY_NONE.selected}}>
        {{localize 'TOKEN.DISPLAY_NONE'}}
      </option>
      <option
        name="DISPLAY_CONTROL"
        value="10"
        {{this.displayNameDISPLAY_CONTROL.selected}}>
        {{localize 'TOKEN.DISPLAY_CONTROL'}}
      </option>
      <option
        name="DISPLAY_OWNER_HOVER"
        value="20"
        {{this.displayNameDISPLAY_OWNER_HOVER.selected}}>
        {{localize 'TOKEN.DISPLAY_OWNER_HOVER'}}
      </option>
      <option
        name="DISPLAY_HOVER"
        value="30"
        {{this.displayNameDISPLAY_HOVER.selected}}>
        {{localize 'TOKEN.DISPLAY_HOVER'}}
      </option>
      <option
        name="DISPLAY_OWNER"
        value="40"
        {{this.displayNameDISPLAY_OWNER.selected}}>
        {{localize 'TOKEN.DISPLAY_OWNER'}}
      </option>
      <option
        name="DISPLAY_ALWAYS"
        value="50"
        {{this.displayNameDISPLAY_ALWAYS.selected}}>
        {{localize 'TOKEN.DISPLAY_ALWAYS'}}
      </option>
    </select>
  </div>
  <hr />
  <div class="form-group">
    <label>{{localize 'TOKEN.VisionHas'}}</label>
    <input
      type="checkbox"
      id="vision"
      name="vision"
      value="vision"
      {{this.vision.checked}}
      min="0" />
  </div>
  <div class="form-group slim">
    <label>Vision Radius</label>
    <div class="form-fields">
      <label>{{localize 'TOKEN.VisionDim'}}</label>
      <input type="number" step="1" name="dimSight" value="{{this.dimSight}}" />
      <label>{{localize 'TOKEN.VisionBright'}}</label>
      <input
        type="number"
        step="1"
        name="brightSight"
        value="{{this.brightSight}}"
        min="0" />
    </div>
  </div>
  <div class="form-group slim">
    <label>{{localize 'TOKEN.VisionAngle'}} </label>
    <div class="form-fields">
      <label>0-360 (360 if empty)</label>
      <input
        type="number"
        name="sightAngle"
        value="{{this.sightAngle}}"
        min="0"
        max="360" />
    </div>
  </div>
  <button type="submit" name="submit"><i class="far fa-save"> Save</i></button>
</form>
