<form autocomplete="off">
    <div class="column">
        <label>{{localize 'TOKEN.CharDisposition'}}:</label>
        <select id="disposition" name="disposition">
            <option value="HOSTILE" {{this.dispositionHostile.selected}}>{{localize 'TOKEN.HOSTILE'}}</option>
            <option value="NEUTRAL" {{this.dispositionNeutral.selected}}>{{localize 'TOKEN.NEUTRAL'}}</option>
            <option value="FRIENDLY" {{this.dispositionFriendly.selected}}>{{localize 'TOKEN.FRIENDLY'}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{localize 'TOKEN.CharShowNameplate'}}:</label>
        <select id="displayName" name="displayName">
            <option value="DISPLAY_ALWAYS" {{this.displayNameDISPLAY_ALWAYS.selected}}>{{localize 'TOKEN.DISPLAY_ALWAYS'}}</option>
            <option value="DISPLAY_CONTROL" {{this.displayNameDISPLAY_CONTROL.selected}}>{{localize 'TOKEN.DISPLAY_CONTROL'}}</option>
            <option value="DISPLAY_HOVER" {{this.displayNameDISPLAY_HOVER.selected}}>{{localize 'TOKEN.DISPLAY_HOVER'}}</option>
            <option value="DISPLAY_NONE" {{this.displayNameDISPLAY_NONE.selected}}>{{localize 'TOKEN.DISPLAY_NONE'}}</option>
            <option value="DISPLAY_OWNER" {{this.displayNameDISPLAY_OWNER.selected}}>{{localize 'TOKEN.DISPLAY_OWNER'}}</option>
            <option value="DISPLAY_OWNER_HOVER" {{this.displayNameDISPLAY_OWNER_HOVER.selected}}>{{localize 'TOKEN.DISPLAY_OWNER_HOVER'}}</option>
        </select>
    </div>
    <hr>
    <div class="form-group">
        <label>{{localize 'TOKEN.VisionHas'}}</label>
        <input type="checkbox" id="vision" name="vision" value="vision" {{this.vision.checked}}/>
    </div>
    <div class="form-group">
        <label>{{localize 'TOKEN.VisionDimDist'}}</label>
        <input type="number" name="dimSight" value="{{this.dimSight}}" />
    </div>
    <div class="form-group">
        <label>{{localize 'TOKEN.VisionBrightDist'}}</label>
        <input type="number" name="brightSight" value="{{this.brightSight}}" />
    </div>
    <!--TODO <hr>
    <div class="form-group">
        <label>{{localize 'TOKEN.ResourceDisplay'}}:</label>
        <select name="displayBars">
            <option value="DISPLAY_ALWAYS" selected>{{localize 'TOKEN.DISPLAY_ALWAYS'}}</option>
            <option value="DISPLAY_CONTROL">{{localize 'TOKEN.DISPLAY_CONTROL'}}</option>
            <option value="DISPLAY_HOVER">{{localize 'TOKEN.DISPLAY_HOVER'}}</option>
            <option value="DISPLAY_NONE">{{localize 'TOKEN.DISPLAY_NONE'}}</option>
            <option value="DISPLAY_OWNER">{{localize 'TOKEN.DISPLAY_OWNER'}}</option>
            <option value="DISPLAY_OWNER_HOVER">{{localize 'TOKEN.DISPLAY_OWNER_HOVER'}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{localize 'TOKEN.ResourceBar1A'}}</label>
        <input type="text" name="bar1Attribute" value="" />
    </div>
    <div class="form-group">
        <label>{{localize 'TOKEN.ResourceBar2A'}}</label>
        <input type="text" name="bar2Attribute" value="" />
    </div> -->
    <button type="submit" name="submit"><i class="far fa-save"> Save</i></button>
</form>